{% extends 'layout.html' %}
{% load static %}
{% block title %}Client{% endblock %}
{% block content %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<style>
    span.text-danger {
        position: absolute;
        bottom: -22px;
        font-size: 14px;
    }

    .demographic-item {
        margin-right: 20px;
        position: relative !important;
        margin-bottom: 20px;
    }

    .demographic-outer {
        display: flex;
        margin-bottom: 1px;
    }

    .input_filed {
        width: 120px !important;

    }

    .age {
        width: 80px !important;
        margin-left: 0% !important;
        margin-right: 0% !important;
        border: 1px solid #cecece;
        padding: 8px 16px;
        border-radius: 4px;
    }

    .month {
        width: 87px !important;
        margin-left: 0% !important;
        margin-right: 0% !important;
        border: 1px solid #cecece;
        padding: 8px 16px;
        border-radius: 4px;

    }
</style>
<!-- form -->
<form method="post" id="sub_form" action="" onsubmit="return validate()">
    {% if messages %}
    {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% csrf_token %}
    <div class="form_input">
        <div class="container">
            <div class="input-flied">
                <h2>Demographics<span class="text-filed">*</span></h2>
            </div>
            <div class="Demographic_input">
                <span class="Demographic-left-side">
                    <div class="demographic-outer">
                        <div class="demographic-item">
                            <label for="fname">Name:</label><br>
                            <input id="name" type="text" name="name" value="{{request.POST.name}}">
                            <br>
                            <span class="text-danger">{{name_error}}</span>
                            <p id="name_error_js"
                                style="color: #c53c3c;position: absolute;bottom: -35px;font-size: 14px;"></p>


                        </div>
                        <div class="demographic-item">
                            <label for="gender"> Gender:</label><br>
                            <select name="gender">
                                <option value="none" selected>Gender</option>
                                <option value="Male" id="male_chkbox">Male</option>
                                <option value="Female" id="female_chkbox">Female</option>
                                <option value="Other" id="other_chkbox">Other</option>
                            </select>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
                        </div>
                    </div>
                    <div class="demographic-outer">
                        <div class="demographic-item">
                            <label for="birthday" class="date-picker">D.O.B:</label><br>
                            <input type="date" id="date" name="dob" value="{{request.POST.dob}}" onchange="getVal()"
                                onclick="maxs()"><br>
                        </div>
                        <div class="demographic-item-a">
                            <label for="fname">Age (years):</label><br>
                            <input type="number" class="age" id="age" name="age" value="{{request.POST.age}}" readonly
                                style="width: 115px !important;
                                margin-left: 0% !important;
                                margin-right: 0% !important;
                                border: 1px solid #cecece;
                                padding: 8px 16px;
                                border-radius: 4px;"><br>
                        </div>
                        <div class="demographic-item-b">
                            <label for="fname">Month:</label><br>
                            <input type="number" class="month" id="month" name="month" value="{{request.POST.month}}"
                                readonly
                                style="width: 115px !important; margin-left: -15% !important; margin-right: 0% !important; border: 1px solid #cecece; padding: 8px 16px; border-radius: 4px;"><br>
                        </div>
                    </div>

                </span>
            </div>
            <div class="input-flied">
                <h2>Address<span class="text-filed">*</span></h2>
            </div>
            <div class="addres_input">
                <span class="left-side">
                    <div class="demographic-item" style="margin-bottom: 20px;">
                        <label for="fname">Phone:</label><br>
                        <input type="text" id="phone" name="phone" value="{{request.POST.phone}}"><br>
                        <span class="text-danger">{{phone_error}}</span>
                        <p id="phone_error_js" style="color: #c53c3c;position: absolute;bottom: -35px;font-size: 14px;">
                        </p>
                    </div>
                    <div class="demographic-item" style="margin-bottom: 20px;">
                        <label for="fname">Email:</label><br>
                        <input type="email" id="email" name="email" value="{{request.POST.email}}"
                            onblur="validateEmail(this.value)"><br>
                        <span class="text-danger">{{email_error}}</span>
                        <p id="email_error_js" style="color: #c53c3c;position: absolute;bottom: -35px;font-size: 14px;">
                        </p>

                    </div>

                    <div class="demographic-item" style="margin-bottom: 20px;">
                        <label for="fname">Father Name:</label><br>
                        <input type="text" id="father_name" name="father_name" value="{{request.POST.father_name}}"><br>
                    </div>
                </span>
                <span class="left-side">
                    <div class="demographic-item" style="margin-bottom: 20px;">
                        <label for="fname">Alternate Phone:</label><br>
                        <input type="text" id="alternate_phone" name="alternate_phone"
                            value="{{request.POST.alternate_phone}}"><br>
                        <span class="text-danger">{{alternate_error}}</span>
                    </div>
                    <div class="demographic-item" style="margin-bottom: 20px;">
                        <label for="fname">Mother Tongue</label><br>
                        <input type="text" id="mother_tongue" name="mother_tongue"
                            value="{{request.POST.mother_tongue}}"><br>
                        <span class="text-danger">{{mother_tongue_error}}</span>
                    </div>
                    <div class="demographic-item" style="margin-bottom: 20px;">
                        <label for="fname">Mother Name</label><br>
                        <input type="text" id="mother_name" name="mother_name" value="{{request.POST.mother_name}}"><br>
                    </div>
                </span>

            </div>
            <div class="Address_flied">
                <div class="demographic-item" style="margin-bottom: 20px;">
                    <label for="fname">Branch:</label><br>
                    <input type="text" id="branch1" name="branch" value="{{request.POST.branch}}"><br>
                </div>
                <div class="demographic-item" style="margin-bottom: 20px;">


                    <div class="demographic-item" style="margin-bottom: 10px;">
                        <label for="fname">Address:</label><br>
                        <textarea type="text" id="branch1" cols="66" row="30" name="address"
                            value="">{{request.POST.address}}</textarea><br>
                    </div>


                </div>


                <div class="input-flied">
                    <h2>Discontinued<span class="text-filed">*</span></h2>
                </div>
                <div class="created_input">
                    <span class="left-side1">
                        <span class="created-left-side">
                            <input class="disccc" type="checkbox" id="discontinious" name="discontinious" value="False">
                        </span>
                        <label for="fname" class="discontinued-item discontinued1">Discontinued</label>
                    </span>
                </div>
                <div class="discontinued">
                    <span class="left-side">
                        <label for="fname" class="discontinued-item" style="margin-bottom: 10px;">Discontinued
                            On:</label><br>
                        <input type="date" id="asses_max" name="discontinious_on"
                            value="{{request.POST.discontinious_on}}" onclick="maxdate()" style="background: #ffffff;
                            border: 1px solid #cecece;
                            padding: 8px 16px;
                            width: 240px;
                            border-radius: 4px;">
                    </span>
                </div>
                <div class="outer1" style="display: flex;">
                    <div class="outer" style="width: 50%">
                        <div class="input-flied1">
                            <h2>Assesments<span class="text-filed">*</span></h2>
                        </div>
                        <div class="created_input">
                            <span class="created-left-side">
                                <input type="checkbox" id="BT" name="assessment" value="BT" checked="checked">
                                <label for="contactChoice1" class="toggle">BT</label>

                                <input type="checkbox" id="OT" name="assessment" value="OT">
                                <label for="contactChoice2" class="toggle">OT</label>

                                <input type="checkbox" id="ST" name="assessment" value="ST">
                                <label for="contactChoice3" class="toggle">ST</label>
                            </span>
                        </div>
                        <div class="dd mt-2">
                            <label></label>
                            <input type="checkbox" id="send_mail" name="send_mail" hidden>

                        </div>
                    </div>

                    <div class="outer" style="width: 50%">
                        <div class="input-flied1">
                            <h2>Slot time<span class="text-filed">*</span></h2>
                        </div>
                        <div class="form-row m-b-55">

                            <div>

                                <label for="appt">Slot time from:</label>

                                <input type="time" id="slot_time_from" name="slot_time_from"
                                    value="{{request.POST.slot_time_from}}">

                            </div> &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;

                            <div><label for="appt">Slot time to:</label>

                                <input type="time" id="slot_time_to" name="slot_time_to"
                                    value="{{request.POST.slot_time_to}}">

                            </div>



                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </div>
        <!-- form -->

        <!-- form therapy -->
        <div class="therapy-input">
            <div class="container">
                <label for="theropy"> Therapy</label>
                <select class="js-example-basic-single selectthero" id="hhh" name="theropy" onchange="show(value)">
                    <option id="" value=""> Select</option>
                    <option class="abc" id="integrated" value="Integrated">
                        Integrated</option>
                    <option id="individual" value="Individual">Individual</option>
                </select> &nbsp;&nbsp;&nbsp;
                <span class="selecttheropy">
                    <input type="checkbox" id="BT" name="theropyselect" value="BT">
                    <label for="contactChoice1" class="toggle">BT</label>

                    <input type="checkbox" id="OT" name="theropyselect" value="OT">
                    <label for="contactChoice2" class="toggle">OT</label>

                    <input type="checkbox" id="ST" name="theropyselect" value="ST">
                    <label for="contactChoice3" class="toggle">ST</label>

                    <input type="checkbox" id="ST" name="theropyselect" value="PT">
                    <label for="contactChoice3" class="toggle">PT</label>

                    <input type="checkbox" id="ST" name="theropyselect" value="SE">
                    <label for="contactChoice3" class="toggle">SE</label>
                </span>



            </div>
            <div class="Chief_input">
                <span class="Diagnerge-side">
                    <p>Chief Complaints:</p>
                    <textarea id="fname" name="chief_complaints" cols="60" row="30"
                        value="">{{request.POST.chief_complaints}}</textarea>
                </span>
                <span class="Diagnerge-side">
                    <p>Diagnosis:</p>
                    <textarea id="fname" name="diagnosis" cols="60" row="30"
                        value="">{{request.POST.diagnosis}}</textarea>
                </span>
                <span class="Diagnerge-side">
                    <p>Remarks:</p>
                    <textarea id="fname" name="remarks" cols="60" row="30" value="">{{request.POST.remarks}}</textarea>
                </span>
                <div class="btn-outer">
                    <input type="submit" class="btn login-form__btn submit w-100">
                </div>
            </div>
        </div>
    </div>

    <!-- form therapy -->
</form>


<script>
    // $(".js-example-basic-single").select2({
    //     placeholder: "Select a therapy"
    // });

    {% if request.POST.gender == "Male" %}
    document.getElementById('male_chkbox').selected = true

    {% elif request.POST.gender == "Female" %}
    document.getElementById('female_chkbox').selected = true

    {% elif request.POST.gender == "Other" %}
    document.getElementById('other_chkbox').selected = true
    {% endif %}




    {% if request.POST.assessment == 'BT' %}
    document.getElementById('BT').checked = true   {% endif %}

    {% if request.POST.assessment == 'OT' %}
    document.getElementById('OT').checked = true   {% endif %}

    {% if request.POST.assessment == 'ST' %}
    document.getElementById('ST').checked = true

    {% endif %}

    {% if request.POST.discontinious == checked %}
    document.getElementById('discontinious').value = "True"   {% endif %}



    // For Theropy

    {% if request.POST.theropy == "BT" %}
    document.getElementById('bt').selected = true
    {% elif request.POST.theropy == "OT" %}
    document.getElementById('ot').selected = true
    {% elif request.POST.theropy == "ST" %}
    document.getElementById('st').selected = true
    {% elif request.POST.theropy == "PT" %}
    document.getElementById('pt').selected = true
    {% elif request.POST.theropy == "SE" %}
    document.getElementById('se').selected = true
    {% endif %}




    function validate() {
        if (document.getElementById('name').value == '') {
            document.getElementById('name_error_js').innerHTML = "This field is required"
            clearErrorMsg();
            return false

        }
        if (document.getElementById('phone').value == '') {
            document.getElementById('phone_error_js').innerHTML = "This field is required";
            clearErrorMsg();
            return false

        }


    }

    function clearErrorMsg() {
        setTimeout(function () {
            document.getElementById("name_error_js").innerHTML = '';
            document.getElementById("phone_error_js").innerHTML = '';
        }, 5000);
    }

    var re = new RegExp(/^([a-zA-Z0-9]+s?)*$/);

    function validateEmail() {
        var email = document.getElementById('email').value
        var reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;

        if (reg.test(email) == false) {
            document.getElementById('email_error_js').innerHTML = "Invalid Email"
            return false

        }


    }


    function maxs() {
        var test = document.getElementById("date")
        var dtToday = new Date();
        var month = dtToday.getMonth() + 1;
        var day = dtToday.getDate();
        var year = dtToday.getFullYear();
        if (month < 10)
            month = '0' + month.toString();
        if (day < 10)
            day = '0' + day.toString();
        var maxDate = year + '-' + month + '-' + day;
        document.getElementById("date")[0].setAttribute(maxDate);
    }

    $(function () {
        var dtToday = new Date();
        var month = dtToday.getMonth() + 1;
        var day = dtToday.getDate();
        var year = dtToday.getFullYear();
        if (month < 10)
            month = '0' + month.toString();
        if (day < 10)
            day = '0' + day.toString();
        var maxDate = year + '-' + month + '-' + day;
        $('#date').attr('max', maxDate);

    });


    function getVal() {

        var dtToday = new Date();

        var month = dtToday.getMonth() + 1;
        var day = dtToday.getDate();
        var year = dtToday.getFullYear();

        if (month < 10)
            month = '0' + month.toString();
        if (day < 10)
            day = '0' + day.toString();

        var maxDate = year + '-' + month + '-' + day;
        $('#txtDate').attr('max', maxDate);

        var userinput = document.getElementById("date").value;
        maxDate: 0
        var testDate = new Date(userinput);
        var dob = new Date(userinput);
        var month_diff = Date.now() - dob.getTime();
        var age_dt = new Date(month_diff);
        var year = age_dt.getUTCFullYear();
        var month = age_dt.getUTCMonth();
        var age = Math.abs(year - 1970);
        document.getElementById("age").value = age
        document.getElementById("month").value = month


    };


    function maxdate() {
        var test = document.getElementById("asses_max")
        var dtToday = new Date();
        var month = dtToday.getMonth() + 1;
        var day = dtToday.getDate();
        var year = dtToday.getFullYear();
        if (month < 10)
            month = '0' + month.toString();
        if (day < 10)
            day = '0' + day.toString();
        var maxDate = year + '-' + month + '-' + day;
        document.getElementById("asses_max")[0].setAttribute(maxDate);
    }

    $(function () {
        var dtToday = new Date();
        var month = dtToday.getMonth() + 1;
        var day = dtToday.getDate();
        var year = dtToday.getFullYear();
        if (month < 10)
            month = '0' + month.toString();
        if (day < 10)
            day = '0' + day.toString();
        var maxDate = year + '-' + month + '-' + day;
        $('#asses_max').attr('max', maxDate);

    });

    $(".discontinued").hide();
    $(".disccc").click(function () {
        if ($(this).is(":checked")) {
            $(".discontinued").show();
        } else {
            $(".discontinued").hide();
        }
    });



    $(".selecttheropy").hide();

    function show(value) {
        if (value == 'Individual') {
            $(".selecttheropy").show();
        }
        else {
            $(".selecttheropy").hide();
        }

    }

</script>
{% endblock %}